*{
    margin: 0;
    box-sizing:border-box;
}
header{
    z-index: 99999;
    position: fixed;
}
.navBar{
    background-color: black;
    /* overflow: hidden; */
    /* position: fixed; */
    width: 100vw;
    z-index: 999;
    background: rgba(17,17,17,0.75);
    box-shadow: rgb(0 0 0 / 35%);
    display: flex;
    flex-direction: row;
}

.kiri{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}

.kanan{
    display: flex;
    flex-direction: row;
    width: 30%;
    text-align: right;
    align-items: center;
    justify-content: right;
    margin-right: 2%;
}


.navBar a{
    font-family: Tahoma,Arial, Helvetica, sans-serif;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navBar a:hover{
    text-decoration-color: aqua;
    text-shadow: 
    0 0 3px #00ffbf,
    0 0 6px #36fbca,
    0 0 10px #77fddc;
}

.headerLogo img{
    /* width: 150px; */
    width: 70%;
    /* border: solid red; */
    margin-left: 30%;
}


.splitDown{
    font-family: Tahoma,Arial, Helvetica, sans-serif;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5%;
    /* margin-top: -50px; */
    /* margin-left: 50px; */
    background-color: orange;
}

.downClass1 .splitDown1{
    display: none;
    font-family: Tahoma,Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5%;
    background-color: orange;
    margin-top: 300%;
}

/* dropdown */
.droptext{
    text-decoration-color: aqua;
    text-shadow: 
    0 0 3px #00ffbf,
    0 0 6px #36fbca,
    0 0 10px #77fddc;
    background-color: inherit;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 0;
}
.dropdown{
    position: relative;
    display: inline-block;
    /* overflow: hidden; */
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navBar .hamburger{
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.dropdownHamburger{
    display: none;
    position: absolute;
    width: 40%;
    height: 0;
    background-color: black;
    background: rgba(17,17,17,0.50);
    box-shadow: rgb(0 0 0 / 35%);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    backdrop-filter: blur(15px);
    transition: height .2s cubic-bezier(0.175,0.885,0.32,1.275);
}
.dropdownHamburger.open{
    height: 240px;
}

.dropdownHamburger a{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .droptext { text-decoration-color: aqua;
    text-shadow: 
    0 0 3px #00ffbf,
    0 0 6px #36fbca,
    0 0 10px #77fddc;}
  
.downClass:hover .splitDown { text-decoration-color: aqua;
    text-shadow: 
    0 0 3px #00ffbf,
    0 0 6px #36fbca,
    0 0 10px #77fddc;} 

.downClass1:hover .splitDown1 { text-decoration-color: aqua;
    text-shadow: 
    0 0 3px #00ffbf,
    0 0 6px #36fbca,
    0 0 10px #77fddc;}
.popup{
    width: 900px;
    height: 350px;
    position: fixed;
    top: 0;
    margin-top: -13%;
    left: 21%;
    z-index: 1;
    /* transform: translate(-50%,-50%) scale(0.1); */
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: tranform 0.4s, top 0.4s;
    background-image: url(/assets/download.png);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 900px 350px;
}

.open-popup{
    visibility: visible;
    top: 55%;
    /* transform: translate(-50%,-50%) scale(1); */
}

.popup img{
    width: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
     
}

.exit img{
    position: absolute;
    width: 4%;
    margin-left: 51%;
    margin-top: 0.5%;
}

.downText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    font-weight: 20px;
    color: rgb(48, 48, 48);
    text-shadow:
        0 0 1px #ffffff,
        0 0 5px #d5d5d500;	
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.downType{
    width: 80%;
    margin: 15vh 0 10vh 6vh;
    list-style: none;
    display: flex;
    justify-content: center;
    align-self: center;
}

.qr{
    width: fit-content;
    height: fit-content;
    margin-right: 2vw;
}
.qr img{
    height: 150px;
    width: auto;
}

.down1{
    padding: 0 2vw 0 0;
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
}
.down1 li{
    width: fit-content;
}
.down1 li a img{
    width: 150px;
}
.down2{
    padding: 0 2vw 0 0;
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
}
.down2 li{
    width: fit-content;
}
.down2 li a img{
    width: 150px;
}

.epic{
    margin-top: 8vh;
    margin-left: -1vw;
    width: fit-content;
}
.epic img{
    height: 40px;
    width: auto;
}
.content{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh ;
}

section{
    position: relative;
    height: 100%;
    /* display: flex; */
    overflow: hidden;
    scroll-snap-align: start;
}

.one{
    background: url("/assets/bg-raiden.png");
}

.two{
    /* display: flex;
    flex-direction: row;
    justify-content: right;
    position: relative; */
    background: url("/assets/bg-kaz.png");
}

.three{
    background: url("/assets/bg-yoi.png");
}

.four{
    background: url("/assets/bg-yoimiya.png");
}

.five{
    height: fit-content;
}

.gambar{
    opacity: 0.3;
}

.gambar-rig{
    opacity: 0.3;
    display: flex;
    justify-content: center;
}


.text{
    position: absolute;
    top: 7%;
    color: #fff;
    padding: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 28px;
}

.text h1{
    text-indent: 2px;
}

.text2{
    position: absolute;
    top: 7%;
    color: #fff;
    padding: 40px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 28px;
}

.text2 h1{
    text-indent: 650px;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

.text h2{
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

.text-con{
    width: 50%;
    height: 15%;
    border: 2px solid;
    border-color: rgba(15, 14, 14, 0.5);
    background-color: rgba(15, 14, 14, 0.5);
    /* opacity: 50%;
    z-index: -1; */
    margin-left: 1%;
    position: relative;
    z-index: 1;
}
   

.text-con p{
    font-size: 23px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    margin-left: 1.5%;;
    margin-top: 2%;
}

.text-right{
    margin-left: 700px;
    width: 50%;
    height: 15%;
    border: 2px solid;
    border-color: rgba(15, 14, 14, 0.5);
    background-color: rgba(15, 14, 14, 0.5);
    /* opacity: 50%; */
    /* position: absolute; */
    /* justify-content: center; */
    /* z-index: 99; */
    /* right: 0; */
}

.text-right p{
    font-size: 22px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    /* text-align:right; */
    margin-top: 1%;
}


.text1{
    /* position: relative; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 1%;
    line-height: 45px;
   
}

.text1 img{
    margin-left: 50px;
}

#sizeGmb{
    width: 25%;
    height: 7%;
}

.gmb{
    width: 5%;
    font-size: 24px;
    text-indent: 10px;
}

.gmb1{
    width: 50%;
    text-indent: 686px;
    font-size: 24px;
}

.text-empty{
    position: absolute;
    margin: auto;
    width: 100%;
    height: 32%;
    /* background-color: #6B6B6C; opacity: 60%; */
    background-color: rgba(118, 111, 111, 0.5); 
}

.text-empty p{
    color: #fff;
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 1.5%;
}

.text-empty1{
    position: absolute;
    margin: auto;
    width: 100%;
    height: 31%;
    background-color: rgba(118, 111, 111, 0.5); 
    margin-top: 1%;
}

.text-empty1 p{
    text-indent: 675px;
    color: #fff;
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 1.5%;
}

.icon{
    position: absolute;
    bottom: 0;
    left: 45%;
}

.icon-kam{
    position: absolute;
    top: 1%;
    left: 60%;
}

.icon-fakekam{
    position: absolute;
    top: 10%;
    left: 55%;
    opacity: 70%;
}

.icon-left{
    position: absolute;
    top: 5%;
    right: 57%;
}

.icon-left-yoi{
    position: absolute;
    top: 5%;
    right: 59%;
}

.element{
    position: absolute;
    margin-left: 0.7%;
    margin-top: 4%;
}
.element img{
    width: 100%;
}

.element-right{
    position: absolute;
    margin-left: 40.5%;
    margin-top: 4%;
}

.element-right img{
    margin-left: 8%;
}

.element-rightKaz{
    position: absolute;
    margin-left: 42%;
    margin-top: 3%;
}

.element-rightKaz img{
    width: 50%;
    height: 55%;
}

/* FOOTER */
footer{
    position: relative;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 0.5px;
    color: rgb(170, 164, 164);
}


.footer-content a{ 
    padding: 5px;
}

.socials{
    border: 1px solid #404040;
    padding: 6px;
    list-style: none;
    background-color: #404040;
}

.socials a{
    list-style: none;
    color: rgb(170, 164, 164);
}

.socials a:hover{
    color: white;
}

.content1{
    list-style: none;
    font-size: 12px;
    padding: 2px;
    text-align: center;
}

.content2{
    list-style: none;
    font-size: 12px;
    padding: 2px;
    text-align: center;
}

.content3{
    list-style: none;
    font-size: 12px;
    padding: 2px;
    text-align: center;
}


.quick-links{
    display: flex;
    width: 560px;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.quick-links ul{
    display: flex;
}

.quick-links :hover{
    color: white;
}

.quick-items{
    list-style: none;
    padding: 0;
}

.quick-items a{
    text-decoration: none;
    margin-left: 9px;
    font-size: 11px;
    color: rgb(170, 164, 164);
}

.footer-bottom{
    padding: 15px;
    font-size: 12px;
    font-style: bold;
    color: white;
    text-align: center;

}


.type1{
    width: 10%;
    padding: 25px;
    display: block;
    margin: 0px auto;
}

.type2 img{
    align-content: center;
    height: 20%;
    width: 10%;
    padding: 15px;
    display: block;
    margin: 0px auto;
}

.type3{
    padding: 12px;
    width: 22%;
    display: block;
    margin: 0px auto;
}

@media screen and (max-width: 1280px){
    .quick-links{
        position: relative;
        right: 2%;
    }
    .element img{
        width: 100%;
        margin-top: -6%;
    }
    .icon img{
        position: relative;
        right: 10%;
    }
    .icon-left{
        right: 50%;
    }
    .two .text1 p{
        z-index: 1999;
        position: relative;
        right: 5%;
    }
    .two .text1 img{
        position: relative;
        left: 5%;
    }
    .text-empty1{
        top: 82%;
    }
    .text-empty1 p{
        position: relative;
        right: 5%;
    }
    .element-right{
        margin-top: 1%;
        margin-left: 46%;
    }
    .gambar-rig{
        position: relative;
        left: 5%;
    }
    .text2{
        right: 35%;
        top: 5%;
    }
    .text-right{
        position: relative;
        right: 6%;
    }
    .four .text2{
        right: 34%;
        top: 7%;
    }
    .four .icon-left-yoi img{
        position: relative;
        left: 20%;
    }
    .four .text1 p{
        z-index: 1999;
        position: relative;
        right: 5%;
    }
    .four .text1 img{
        position: relative;
        left: 5%;
    }
    .four .text-empty1 p{
        position: relative;
        right: 5%;
    }
    .element-rightKaz{
        width: 80%;
        position: relative;
        top: -8%;
        left: 6%;
    }
    .three .element{
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .navBar .hamburger{
        display: block;
    }
    .dropdownHamburger{
        display: block;
        left: 15rem;
    }

    .headerLogo{
        align-items: center;
        text-align: center;
        justify-content: center;
        position: relative;
        left: 43.5%;
    }
    .headerText{
        display: none;
    }
    .splitLog{
        display: none;
    }
    .splitDown{
        display: none;
    }
    .droptext{
        background-color: inherit;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        outline: none;
        margin-left: 68%;
    }
    .dropdownHamburger a{
        font-family: Tahoma,Arial, Helvetica, sans-serif;
        color: #f2f2f2;
        text-decoration: none;
        font-size: 17px;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: 56%;

    }
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
      }
      
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdownHamburger a:hover { text-decoration-color: aqua;
        text-shadow: 
        0 0 3px #00ffbf,
        0 0 6px #36fbca,
        0 0 10px #77fddc;}
    .dropdownHamburger{
        overflow-y: scroll;
    }
    .icon{
        left: 50%;
        height: 400%;
        top: 20%;
    }

    .icon img{
        width: 720px;
        height: 500px;
    }

    .icon-kam{
        left: 40%;
        top: 10%;
    }

    .icon-kam img{
        width: 500px;
        height: 800px;
    }

    .icon-left{
        left: -2%;
        top: 17%;
    }

    .icon-left img{
        width: 340px;
        height: 720px;
    }

    .icon-left-yoi{
        left: -10%;
        top: 17%;
    }
    
    .icon-left-yoi img{
        width: 340px;
        height: 720px;
    }

    .gambar img{
        width: 150px;
        height: 155px;
    }

    .gambar-rig img{
        width: 150px;
        height: 155px;
        margin-left: -2%;
    }

    .gambar-rig img{
        width: 150px;
        height: 155px;
    }
   
    .text{
        margin-left: -3%;
    }

    .text2{
        margin-left: -52%;
    }

    .text-right{
        margin-left: 45%;
        width: 60%;
    }

    .text-right p{
        margin-top: 2%;
        font-size: 16px;
    }

    .text-con{
        width: 60%;
    }
    
    .text-con p{
        margin-top: 3%;
        font-size: 16px;
    }

    .gmb{
        font-size: 18px;
    }

    .gmb1{
        font-size: 18px;
        width: 85%;
        margin-left: -38%;
    }

    .text-empty p{
        font-size: 18px;
        margin-left: 2%;
    }

    .text-empty1{
        width: 110%;
        margin-left: -1%;
        margin-top: -5%;
    }

    .text-empty1 p{
        font-size: 18px;
        margin-left: -30.5%;

    }

    .element{
        width: 20px;
        height: 20px;
        margin-top: 8%;
    }

    .element img{
        width: 200px;
        height: 58px;
    }
    
    .element-right img{
        width: 220px;
        height: 60px;
        margin-top: 24%;
        margin-left: -3%;
    }

    .element-rightKaz img{
        width: 350px;
        height: 78px;
        margin-left: -7%;
        margin-top: 15%;
    }
        
    .isiGenshin{
        width: 30%;
    }
    .isiLetgo{
        width: 80%;
    }
    .isiTerakhir3 h1{
        font-size: 18px;
        color: white;
        font-weight: normal;
        font-family: Tahoma, Helvetica, Arial, sans-serif;
        word-spacing: 1px;
        line-height: 10vh;
    }
    .quick-links{
        display: flex;
        width: 100%;
        height: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: -4%; 
    }
    .type1{
        width: 20%;
        padding: 25px;
        display: block;
        margin: 0px auto;
    }
    .type2 img{
        align-content: center;
        width: 20%;
        padding: 15px;
        display: block;
        margin: 0px auto;
    }

    .type3{
        padding: 12px;
        width: 40%;
        display: block;
        margin: 0px auto;
    }
}


@media screen and (max-width: 400px) {
    .navBar .hamburger{
        display: block;
    }
    .dropdownHamburger{
        display: block;
        left: 3.5rem;
    }

    .headerLogo{
        left: 10%;
    }
    .headerText{
        display: none;
    }
    .droptext{
        background-color: inherit;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        outline: none;
        margin-left: 51.5%;
    }
    .dropdownHamburger{
        width: 70%;
    }
    .dropdownHamburger a{
        font-family: Tahoma,Arial, Helvetica, sans-serif;
        color: #f2f2f2;
        text-decoration: none;
        font-size: 17px;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: 39%;

    }
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
      }
      
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdownHamburger a:hover { text-decoration-color: aqua;
        text-shadow: 
        0 0 3px #00ffbf,
        0 0 6px #36fbca,
        0 0 10px #77fddc;}
    .dropdownHamburger{
        overflow-y: scroll;
    }
    .icon{
        left: 50%;
        height: 400%;
        top: 47%;
    }

    .icon img{
        width: 400px;
        height: 340px;
    }

    .icon-left{
        left: -5%;
        top: 46%;
    }

    .icon-left img{
        width: 232px;
        height: 400px;
    }

    .icon-left-yoi{
        left: -15%;
        top: 42%;
    }

    .icon-left-yoi img{
        width: 232px;
        height: 450px;
    }

    .icon-fakekam{
        left: 48%;
        top: 40%;
    }

    .icon-fakekam img{
        width: 300px;
        height: 500px;
    }

    .icon-kam{
        left: 42%;
        top: 42%;
    }

    .icon-kam img{
        width: 300px;
        height: 500px;
    }

    .gambar img{
        width: 130px;
        height: 145px;
    }

    .gambar-rig img{
        width: 90px;
        height: 115px;
        margin-left: -225px;
    }

    .gambar-rig img{
        width: 150px;
        height: 155px;
    }

    #sizeGmb{
        z-index: 9999;
    }
   
    .text{
        margin-left: -4%;
        font-size: 24px;
    }

    .text2{
        margin-left: -182%;
        font-size: 24px;
    }

    .text2 h1{
        margin-left: -1%;
    }

    .text-right{
        width: 97.5%;
        margin-left: 1%;
        margin-left: 7%;
    }

    .text-right p{
        margin-top: 1%;
        font-size: 13.5px;
    }

    .text-con{
        width: 97.5%;
    }
    
    .text-con p{
        margin-top: 4%;
        font-size: 13px;
    }

    .gmb{
        font-size: 16px;
        margin-left: -2%;
        width: 10%;
    }

    #sizeGmb{
        width: 45%;
    }

    .gmb1{
        font-size: 16px;
        margin-left: -155%;
        width: 187%;
        z-index: 9999;
    }

    .text-empty p{
        font-size: 16px;
        margin-left: 2%;
    }

    .text-empty1{
        width: 110%;
        margin-left: -1%;
    }

    .text-empty1 p{
        font-size: 18px;
        margin-left: -120%; 
        margin-top: 3%;
        z-index: 9999;
    }

    .element img{
        width: 159px;
        height: 50px;
        /* margin-top: 100%; */
        margin-top: 15%;
        z-index: 9999;
    }
    
    .element-right img{
        width: 160px;
        height: 45px;
        margin-left: -22%;
        margin-top: 60%;
    }

    .element-rightKaz img{
        width: 220px;
        height: 60px;
        margin-left: -17%;
        margin-top: 40%;
    }
    
    .isiGenshin{
        width: 50%;
    }
    .isiLetgo{
        width: 80%;
    }
    .isiTerakhir3 h1{
        font-size: 18px;
        color: white;
        font-weight: normal;
        font-family: Tahoma, Helvetica, Arial, sans-serif;
        word-spacing: 1px;
        line-height: 10vh;
     }
     .quick-links{
        display: flex;
        width: 100%;
        height: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: -5%; 
    }
    .type1{
        width: 50%;
        padding: 25px;
        display: block;
        margin: 0px auto;
    }
    .type2 img{
        align-content: center;
        width: 40%;
        padding: 15px;
        display: block;
        margin: 0px auto;
    }
    
    .type3{
        padding: 12px;
        width: 60%;
        display: block;
        margin: 0px auto;
    }
}


